.header {
  background-color: $dark-blue;
}

.header__content {
  align-self: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header__button {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 100;
}
